.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 25px;
  margin: 15px;
}

.Toolbar {
  background-color: #2558ff;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
