.carouselExampleControls{
  box-shadow: 10px;
}

.list-group{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.insert-form{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-labels{
  justify-content: space-around;
  display: inline;
}

.form-inputs{
  justify-content: space-around;
  display: inline;
}

.searchbar {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40%;
  margin-right: 40%;
}

