.carouselExampleControls{
  box-shadow: 10px;
}

.list-group{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.insert-form{
  margin-left: 10%;
  margin-right: 10%;
}

.form-labels{
  justify-content: space-around;
  display: inline;
}

.form-inputs{
  justify-content: space-around;
  display: inline;
}

.searchbar {
  
  margin-left: 30%;
  margin-right: 30%;
}

.admin-control{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.button-container {
  padding-left: 10px;
  padding-right: 10px;
}

/*
.footer {
  background-color: rgb(49, 49, 49);
  height: 10%;
  display: flex;
  color: rgb(255, 255, 255);
}
*/